cnucnu:

bugzilla:
    user: upstream-release-monitoring@fedoraproject.org
    password: 
    base url: https://bugzilla.redhat.com
    url: "%(base url)s/xmlrpc.cgi"
    bug url prefix: "%(base url)s/show_bug.cgi?id="
    product: Fedora
    version: rawhide
    keywords: FutureFeature
    bug status: ASSIGNED
    summary template: "%%(name)s-%%(latest_upstream)s is available"


repo:
    path: http://download.fedora.redhat.com/pub/fedora/linux/development/source/SRPMS
    name: Fedora Rawhide


# vim: filetype=yaml
